<h2 style="text-align: center;">Create Issue Status</h2>
    <div [hidden]="submitted" style="width: 500px; margin-left: auto; margin-right: auto;">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Issue Id</label>
          <input type="number" class="form-control" id="issue_id" required [(ngModel)]="issueStatus.issue_id" name="issue_id" placeholder="Enter the issue id">
        </div>
        <div class="form-group">
          <label for="name">Issued Book Name</label>
          <input type="text" class="form-control" id="issueBookName" required [(ngModel)]="issueStatus.issueBookName" name="issueBookName" placeholder="Enter the Issue Book Name "> 
        </div>
    
        <div class="form-group">
          <label for="name">Issued Customer Id</label>
          <input type="number" class="form-control" id="issue_cust" required [(ngModel)]="issueStatus.issue_cust" name="issue_cust" placeholder="Enter the Issue Book Customer Id">
        </div>
    
        <div class="form-group">
          <label form="name">Issued Date</label>
          <input type="date" class="form-control" id="issueDate" required [(ngModel)]="issueStatus.issueDate" name="issueDate" placeholder="Enter the Date of Issue Book">
        </div>

        <div class="form-group">
            <label for="name">Isbn Book</label>
            <input type="text" class="form-control" id="isbn_book" required [(ngModel)]="issueStatus.isbn_book" name="isbn_book" placeholder="Enter the Isbn No. of issue Book"> 
          </div>
    
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
    
    <div [hidden]="!submitted">
      <h4>You submitted successfully!</h4>
        <button class="btn btn-success" (click)="newIssueStatus()">Add Issue Status</button>
    </div>

